*{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: rgb(212, 212, 212);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    padding: 10px 50px;
    width: 200px;
}
.items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.items li{
    margin: 0 5px;
    border-radius: 4px;
}
.items li a{
    display: block;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.items li.active a{
    color: white;
}
i{
    margin-left: 5px;
}
.items li:hover, li.active{
    background-color: rgb(87, 87, 87);
    transition: .5s;
}
.botton{
    display: none;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
ul.show{
    top: 65px;
}

@media screen and (max-width:925px){
    .logo{
        width: 150px;
    }
    .items li a{
        font-size: 15px;
    }
}
@media screen and (max-width:825px){
    .menu{
        height: 65px;
    }
    
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    .botton{
        display: inline-flex;
    }
    .items{
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background-color: rgb(87, 87, 87);
        top: 100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
    }
    .items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .items li:hover{
        background: none;
    }
    .items li a{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .items li a:hover{
        background-color: rgb(212, 212, 212);
        color: black;
    }

}

@media screen and (max-width: 858px) and (orientation: landscape){
    .items li{
    margin: 5px 0 0 0;
    }
    .items{
        overflow: scroll;
        height: calc(100% - 65px);
    }

}



.about-us{
    background-color:#f2f2f2;
}
.contenedor1 h2{
    text-align: center;
    color: #02bbca;
    margin-top: 30px;
}
.contenido-articulos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}
.articulos{
    width: 250px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px 10px;
    transition: 0.5s;
}
.articulos:hover{
    box-shadow: 0 4px 10px rgba(17,29, 48, .36);
}
.articulos img{
    width: 250px;
    border-radius: 10px;
}
.articulos h3{
    font-size: 24px;
    text-transform: uppercase;    
}
.articulos p{
    font-weight: 100;
    color: #02bbca;
    margin-top: 15px;
    margin-bottom: 20px;
}
.articulos a{
    width: 150px;
    padding: 15px 0;
    display: block;
    font-weight: 400;
    text-decoration:none;
    text-align: center;
    color: white;
    background-color: #779ECB;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}
.articulos a:hover{
    background-color: #02bbca;
    transition: 0.5s;
}








